* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/* ------------------------------HERO----------------------------------- */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  display: flex;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
  gap: 9.6rem;
}
.delivered-meals {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: -3.2rem;
  margin-top: 4rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-text {
  font-size: 1.8rem;
  font-size: 600;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
.delivered-imgs img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  margin-right: 1.6rem;
}
.delivered-text {
  margin-left: 1.6rem;
}
.delivered-imgs img:last-child {
  margin: 0;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.hero-img {
  width: 100%;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  font-weight: 600;
  border-radius: 0.9rem;
  text-decoration: none;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}
.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn-full:hover,
.btn-full:active {
  background-color: #cf711f;
  color: #fff;
}
.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;
  color: #555;
}
.btn-outline:hover,
.btn-outline:active {
  background-color: #fdf2e9;
  color: #555;
  box-shadow: inset 0 0 0 3px #fff;
}
.marg-right {
  margin-right: 1.6rem !important;
}

/* ------------------------------HEADER---------------------------- */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 2.2rem;
}
/* ------------------------------NAVIGATION---------------------------- */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  display: inline-block;
  color: #e67e22;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  border-radius: 0.9rem;
  padding: 1.2rem 2.4rem;
  color: #fff;
}

/* ------------------------------FEATURED IN---------------------------- */

.heading-featured {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #999;
}
.section-featured {
  padding: 4.8rem 0;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3rem;
  filter: brightness(0);
  opacity: 50%;
}
/* ------------------------------HOW IT WORKS---------------------------- */

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid:last-child {
  margin-bottom: 0;
}
.grid:not(:last-child) {
  margin-bottom: 6.4rem;
}
.grid-center-v {
  align-items: center;
}
.section-how {
  padding: 9.6rem 0;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  font-weight: 700;
  color: #333;
  line-height: 1.2;
  letter-spacing: -0.5px;
  margin-bottom: 5.6rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #e67e22;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.heading-tertiary {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  line-height: 1.2;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.step-img {
  width: 40%;
}
.two {
  width: 100%;
  margin-bottom: 10rem;
}
.two-box::before {
  content: "";
  display: block;
  width: 150% !important;
  padding-bottom: 150% !important;
  transform: translate(-50%, -67%) !important;
  background-color: #fae5d3;
  z-index: -2;
}
.two-box::after {
  content: "";
  display: block;
  width: 125% !important;
  padding-bottom: 125% !important;
  transform: translate(-50%, -67%) !important;
  background-color: #f5cba7;
  z-index: -1;
}
.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-img-box::before {
  position: absolute;
  content: "";
  display: block;
  width: 60%;
  padding-bottom: 60%;
  background-color: #fae5d3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -2;
}
.step-img-box::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 50%;
  padding-bottom: 50%;
  background-color: #f5cba7;
  z-index: -1;
}

/* ------------------------------MEALS---------------------------- */

.section-meals {
  padding: 1.6rem 0;
}
.meal-img {
  width: 100%;
}
.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #cf711f;
}
strong {
  font-weight: 500;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #333;
  border-radius: 80px;
}
.meal-tags {
  margin: 1.2rem;
  margin-left: 0;
  font-weight: 600;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.085);
}
.meal-content {
  padding: 4.8rem;
  padding-top: 0;
}
.vegan {
  background-color: #94d82d;
}
.paleo {
  background-color: #ffd43b;
  margin-left: 0.5rem;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #cf711f;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.margin-bottom-md {
  margin-bottom: 4.8rem;
}
.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
.link:visited,
.link:link {
  display: inline-block;
  text-decoration: none;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
}
.link:hover,
.link:active {
  color: #e67e22;
  border-bottom: hidden;
  transition: all 0.3s;
}
.center-text {
  text-align: center;
}

/* ------------------------------TESTIMONIALS---------------------------- */

.section-testimonials {
  padding: 9.6rem 0;
  background-color: #fae5d3;
}
.testimonials {
  display: grid;
  margin-left: 4rem;
  grid-template-columns: 55fr 45fr;
  gap: 2.4rem;
  align-items: center;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
.gallery-item img:hover {
  transform: scale(1.1);
}
.gallery-item {
  overflow: hidden;
}
.testimonial-container {
  margin-left: 2rem;
}
/* ------------------------------PRICING---------------------------- */

.section-pricing {
  padding: 1.6rem 0;
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-signup {
  text-align: center;
  margin-top: 1.6rem;
}
.pricing-plan {
  border-radius: 1.1rem;
  width: 75%;
}
.plan-starter {
  justify-self: end;
  border: 1px solid #cf711f;
  padding: 2.2rem;
}
.plan-complete {
  background-color: #fce9da;
  padding: 2.4rem;
  position: relative;
  overflow: hidden;
}
.plan-complete::after {
  content: "Best value";
  position: absolute;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 800;
  color: #000;
  top: 4rem;
  right: -4rem;
  background-color: #ffd43b;
  padding: 0.8rem 5.2rem;
  transform: rotate(45deg);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
}
.feature-icon {
  color: #e67e22;
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #fae5d3;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
}

/* ------------------------------CALL TO ACTION---------------------------- */

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);
  margin-top: 9.2rem;
  border-radius: 2.2rem;
  margin-bottom: 6.2rem;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.4),
      rgba(230, 125, 34, 0.4)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
  border-top-right-radius: 2.2rem;
  border-bottom-right-radius: 2.2rem;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.cta .heading-secondary {
  color: #2e1907;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  color: inherit;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.cta-form input:placeholder {
  color: #aaa;
}
.btn-form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}
.btn-form:hover {
  background-color: #fff;
  color: #555;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/* ------------------------------FOOTER---------------------------- */

.grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.footer {
  padding: 9.6rem 0;
  border-top: 1px solid #eee;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #555;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.contacts p {
  margin-bottom: 2.4rem;
}
.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.original {
  margin-bottom: 2rem;
}
